/* Section - 1  smoth transition*/
.login_signup_btn-container a,
.nav-link .listFirstLetter,
.nav-link i,
.nav-link .nav-link::after,
li::after{
    transition: all .3s ease-in;
}

/* Section -1 Hover effect */
.login_signup_btn-container a:hover{
    font-weight: 650;
}

.nav-link:hover .listFirstLetter,
.login_signup_btn-container a:hover,
.nav-link:hover i{
    color: var(--colr_1_sec);
    transition: color .3s ease-in-out;
}

.login_signup_btn-container a:hover{
    position: relative;
    top: -3px;
    color: floralwhite;
    box-shadow: 0px 2px 1px black;
}

.nav-link:hover .nav-link::after,
li:hover::after{
    background-color: var(--colr_1_sec);
    transition: background-color .3s ease-in-out;
}

.footer-closer a:hover{
    color: var(--light)!important;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.footer-closer a:hover .footer-itemIcon{
    margin-right: .5rem;
    transition: margin .3s ease-in, font .2s ease-in-out;
    font-size: 1.7rem;
}

#colorSettingsButton:hover{
    left: 0px;
    transition: left .3s ease-in-out;
}

.clrBox .clrOption:hover{
    box-shadow: -2px 2px 3px black;
    top: -2px;
}