*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all ease .4s;
}

html{
    font-size: 62.5%;
}

.__custom-body-css{
    background-color: var(--dark_custom)!important;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navigation{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 8rem;
    backdrop-filter: blur(5px);
    padding: 0% 7% 0% 7%;
    display: flex;
    align-items: center;
}

.logo-brand_main-container{
    position: relative;
    height: calc(100% - 1rem);
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
    height: calc(100% - .5rem);
    width: 10rem;
}

.navigation-logo{
    background-image: url("../img/logo.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.navigation-brand{
    position: relative;
    height: calc(100% - .5rem);
    width: calc(100% - 7rem);
    display: flex;
    align-items: center;
}

.navigation-brand-A,
.navigation-brand-B{
    font-size: 3.5rem;
    color: var(--colr_1_sec);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.navigation-brand-B{
    font-size: 3rem;
    color: #000;
}

.navigation-extend-container{
    margin-left: auto;
    padding: .5rem .7rem;
    border-radius: 3px;
    box-shadow: 1px 1px 2px var(--colr_1_pri), -1px -1px 2px var(--colr_1_pri);
}

.navigation-extend-btn{
    font-size: 2rem!important;
    cursor: pointer;
}

section{
    height: 100vh;
    width: 100%;
    border: 1px solid #fff;
}
