*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.__custom-body-css{
    background-color: var(--dark_custom)!important;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navigation{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 8rem;
    backdrop-filter: blur(5px);
    padding: 0% 7% 0% 7%;
    display: flex;
    align-items: center;
    z-index: 999;
    transition: all .2s ease-in;
}

.logo-brand_main-container{
    position: relative;
    height: calc(100% - 1rem);
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
    height: calc(100% - .5rem);
    width: 10rem;
}

.navigation-logo{
    background-image: url("../img/logo.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all .2s ease-in;
}

.navigation-brand{
    position: relative;
    height: calc(100% - .5rem);
    width: calc(100% - 7rem);
    display: flex;
    align-items: center;
}

.navigation-brand-A,
.navigation-brand-B{
    font-size: 3.5rem;
    color: var(--logoColor);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all .2s ease-in;    
}

.navigation-brand-B{
    font-size: 3rem;
    color: #000;
}

.navigation-extend-container{
    margin-left: auto;
    padding: .5rem .7rem;
    border-radius: 3px;
    box-shadow: 1px 1px 2px var(--logoColor), -1px -1px 2px var(--logoColor);
    transition: all .3s ease-in;
}

.navigation-extend-btn{
    font-size: 2rem!important;
    cursor: pointer;
}

section{
    height: 100vh;
    width: 100%;
}

/* Section - 1 starts here */
#section1{
    height: calc(100vh - 8rem);
    background-image: url('../img/Section_1_Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section1-closer{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-closer-mainData{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-closer-mainData svg{
    height: 50rem;
}

.section1-closer-mainData .section-1-mainContent_body{
    position: relative;
    height: 100%;
    width: fit-content;
    margin-left: 2rem;
}

.ListActive{
    color: var(--navActive)!important;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-item::after{
    content: "";
    position: relative;
    width: 1.8rem;
    height: 2.5px;
    background-color: var(--navNonActive);
    border-radius: 1rem;
    bottom: 0px;
}

.navigation-brand-A_heading,
.navigation-brand-B_heading{
    font-size: 5rem;
    color: var(--colr_1_sec);
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    transition: all .3s ease-in;
}

.navigation-brand-B_heading{
    font-size: 4.5rem;
    color: var(--light);
}

.navigation-brand-A_body,
.navigation-brand-B_body{
    font-size: 2.5rem;
    transition: all .3s ease-in;
}

.navigation-brand-A_body{
    font-weight: 550;
    color: var(--colr_1_sec);
}

.navigation-brand-B_body{
    color: var(--light);
}

.login_signup_btn-container {
    float: right;
    margin-top: 2.5rem;
    margin-right: 10%;
}

.login_signup_btn-container p{
    background-color: var(--colr_1_sec);
    height: 100%;
    margin: 0.5rem 0rem;
    font-size: calc(100% + .3rem);
    font-weight: lighter;
}

.login_signup_btn-container .nav-link{
    color: var(--light);
    font-size: calc(100% + .3rem);
    transition: color .3s ease-in-out;
    font-weight: 650;
    letter-spacing: 1.3px;
    border: 1px solid var(--colr_1_sec);
    border-radius: 5px;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Section 1 ends here */

/* ============== section 2 Start Here ============== */
#section2{
    height: calc(100vh - 6rem);
    border: 1px solid #fff;
}
.section2-closer{

}
/* ============== section 2 Ends Here ============== */

/* ============== section 3, 4 Starts Here ============== */
#section3,
#section4{
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3-closer,
.section4-closer{
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section3-closer .header,
.section4-closer .header,
.happyClients-closer .header{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    cursor: default;
}

.happyClients-closer .header{
    height: 16rem;
    width: 100%;
    margin-bottom: 2rem;
}

.section3-closer .header i,
.section4-closer .header i{
    font-size: 15rem;
    /* background-image: linear-gradient(to bottom, #b30000, #5A0000, #5A0000, #181818, #1818183b); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 11rem;
}

.happyClients-closer .header i{
    font-size: 20rem;
    position: absolute;
    color: var(--colr_1_ultraLight);
}

.section3-closer .header p,
.section4-closer .header p,
.happyClients-closer .header p{
    color: var(--colr_1_sec);
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 0rem;
    position: relative;
    top: -2rem;
}

.happyClients-closer .header p{
    top: 0!important;
}

.section4-closer .header p{
    top: -3rem;
}

.section3-closer .header p::after,
.section4-closer .header p::after,
.happyClients-closer .header p::after{
    content: "";
    width: 10rem;
    height: 4px;
    position: absolute;
    background: var(--colr_1_sec);
    border-radius: 1rem;
    right: 0px;
    bottom: -2.8rem;
}

.section3-closer .section3-body{
    width: 75%;
}

.section4-closer .section4-body{
    width: 65%;
}

.section3-closer .section3-body p{
    color: var(--light);
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'Baloo Bhai 2', cursive;
}
/* ============== section 3, 4 Ends Here ============== */



/* ============== Footer Starts Here ============== */
#footer{
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-closer{
    width: 100%;
    height: 100%;
    background-color: var(--colr_1_ultraLight);
    color: var(--light);
    padding: 1rem;
    display: flex;
    align-items: initial;
    justify-content: space-evenly;
    padding: 2rem 0rem;
}

.copyrightStatus{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrightStatus .copyrightStatus-closer{
    background-color: var(--colr_1_pri);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 2rem;
}

.copyrightStatus .copyrightStatus-closer span,
.copyrightStatus .copyrightStatus-closer a{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: var(--light);
}

.footer-sub-part_logo{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sub-part-closer_logoPart{
    height: 7rem;
}

.footer-sub-part-closer_logoPart .logo{
    height: 100%;
    background-image: url(../img/logo.png);
    background-size: cover;
}

.footer-sub-part{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.footer-sub-part .header{
    font-size: 2rem;
    font-weight: 750;
    letter-spacing: 1.5px;
    border-bottom: 1px solid var(--light);
    height: fit-content;
    cursor: default;
}

.footer-sub-part-closer{
    width: fit-content;
}

.footer-sub-part-closer ul{
    margin-top: 1rem;
}

.footer-sub-part-closer ul li.nav-item::after::after{
    display: none;
}

.navbar-nav .footer-item{
    padding: .2rem 1rem;
    width: fit-content;
}

.footer-closer a{
    color: var(--colr_1_faded)!important;
    font-size: 1.4rem;
    transition: all .3s ease-in-out;
}

.footer-closer a i{
    transition: margin .3s ease-in, font .2s ease-in-out;
}

/* ============== Footer Ends Here ============== */

/* Modal desine related  start here*/
.__indexModal_sub-part-1-ul li,
.__indexModal_sub-part-2-ul li{
    margin-right: 2.5rem;
    font-size: calc(100% + .5rem);
}

.__indexModal_sub-part-1-ul li .nav-link{
    color: var(--navNonActive);
}

.__indexModal_sub-part-2-ul li .nav-link{
    color: var(--light);
}

.__indexModal_sub-part-1 h3{
    display: flex;
    align-items: center;
}

.__indexModal_sub-part-1 h3 i{
    font-size: 1rem;
    margin-left: 1rem;
    border-bottom: none;
    margin-top: 0.5rem;
    color: var(--navNonActive);  /* color will change dynamically when hit login */
}

.__indexModal_sub-part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0rem 3rem 0rem;
}

.__indexModal_sub-part-2-closer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 4.5rem 0.7rem 4.5rem;
    border: 1px solid var(--colr_1_sec);
}

.__indexModal_sub-part-2-closer .ModalSubLogo{
    position: relative;
    top: -1.7rem;
    height: fit-content;
    width: fit-content;
    padding: 0.7rem 0.9rem;
    /* border: 1px solid var(--colr_1_sec); */
    background: var(--colr_1_sec);
}

.__indexModal_sub-part-2-closer .ModalSubData{
    position: relative;
    top: -0.7rem;
}

.__indexModal_sub-part-2 h4{
    color: var(--light);
}

.ModalSubLogo i{
    color: #fff;
    font-size: 2.3rem;
}
/* Modal desine related  End here*/

/* ========== Icon Counter Starts here ========== */
#iconCounter{
    height: fit-content;
    display: flex;
    padding: 1rem;
    justify-content: center;
    margin: 5rem 0rem 2rem 0rem;
}

#iconCounter .iconCounterDynamic-closer{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.iconCounterDynamic-closer .iconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.iconContainer .icon i{
    font-size: 9rem;
    color: #ddd;
}

.iconContainer .iconDataContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconContainer .iconDataContainer .iconData,
.iconContainer .iconDataContainer span{
    color: var(--colr_1_sec);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.iconDataContainer span{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iconContainer .iconDataContainer .iconData{
    font-weight: lighter;
}
/* ========== Icon Counter Ends here ========== */


/* ========== Happy Clients Starts here ========== */
#happyClientsDynamic{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;
}

.happyClients-closer{
    margin: 1rem;
    /* border: 1px solid #fff; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.__carousel-navigator-dots{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.__carousel-navigator-dots-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.__carousel-navigator-dots-ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 1rem;
}

.__navigator-dots-first{
    height: 3px;
    width: 3px;
    background: var(--colr_1_sec);
    border-radius: 50%;
}

.__navigator-dots-second{
    height: 4px;
    width: 4px;
    background: var(--colr_1_sec);
    border-radius: 50%;
}

.__navigator-dots-third{
    height: 5px;
    width: 5px;
    background: var(--colr_1_sec);
    border-radius: 50%;
}
/* ========== Happy Clients Ends here ========== */


/* ========= FeedBack Card Design ========= */
.__feedbackCardContainer{
    height: 24rem;
    width: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.__feedbackCardContainer .__feedbackCard-closer{
    height: 18rem;
    width: 80%;
    border: 1px solid var(--colr_1_sec);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-top: auto!important;
}

.__feedbackCard-closer .__feedbackCard-img{
    position: relative;
    top: -5rem;
    left: -5rem;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
}

.__feedbackCard-closer .__feedbackCard-img img{
    border-radius: 50%;
    border: 1px solid var(--colr_1_sec);
    padding: 0.5rem;
    background: var(--dark_custom);
    height: 11rem;
}

.__feedbackCard-closer .__feedbackCard-mainBody{
    position: relative;
    margin-top: -9rem;
    padding: 0rem 0rem 0rem 7rem;
    color: #fff;
}

.__feedbackCard-header span{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 1px;
    color: var(--colr_1_sec);
    font-weight: 850;
}
/* ========= FeedBack Card Design ========= */


/* suplementry selectors  starts here*/
    .error-on-dataLoad{
        font-size: 2rem;
        font-family: monospace;
        color: #fff;
    }

    .cursor-pointer{
        cursor: pointer!important;
    }

    .cursor-default{
        cursor: default!important;
    }
/* suplementry selectors  endss here*/

/* ========== Scroll to Top Start ========== */
#ScrollToTop_Button{
    position: fixed;
    border: 1px solid var(--colr_1_sec);
    border-bottom: 0px;
    height: 3rem;
    width: 3rem;
    bottom: 0px;
    margin-left: calc(50% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background-color: #fff1;
    box-shadow: 0px 0px 3px 1.5px black;
    transition: all .2s ease-in;
    display: none;
}

.scrollToTop .scrollToTop-closer{
    color: var(--colr_1_sec);
    font-size: 2rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
    display: none;
}

.scrollToTop i{
    color: var(--light);
    transition: all .2s ease-in;
    display: none;
}
/* ========== Scroll to Top Ends =========== */

/* ======= color Settings box starts here ======= */
#colorSettingsButton{
    position: fixed;
    top: 15vh;
    left: calc(4.5rem - 20rem);
    height: 5rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 5px 1px black;
    background-color: #fff1;
    transition: left .3s ease-in-out;
}

.fa-cog{
    transition: all .3s ease-in;
}

#colorSettingsButton .color-settings-closer{
    position: relative;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color-settings-closer .clrController{
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-settings-closer .clrController-closer{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.clrController-closer .left,
.clrController-closer .right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.clrController-closer .left i,
.clrController-closer .right i{
    color: var(--colr_1_faded);
    font-size: 1.3rem;
}

.color-settings-closer .clrBox{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.clrBox .clrOption{
    position: relative;
    height: 2rem;
    width: 3rem;
    border-radius: 1rem;
    margin: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.clrBox .clrOption:nth-child(1){
    border: 1px solid #b30000;
}

.clrBox .clrOption:nth-child(2){
    border: 1px solid #0052ef;
}

.clrBox .clrOption:nth-child(3){
    border: 1px solid #2e8b57;
}
/* ======= color Settings box ends here ======= */